<p id="notice"><%= notice %></p>

<h1>Minhas Ideias</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Imagem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.nome %></td>
        <td><%= idea.description %></td>
        <td><%= idea.picture %></td>
        <td><%= link_to 'Mostrar', idea %></td>
        <td><%= link_to 'Editar', edit_idea_path(idea) %></td>
        <td><%= link_to 'Apagar', idea, method: :delete, data: { confirm: 'Tem certeza disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova ideia', new_idea_path %>
